@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */

@font-face {
   font-family: "neue";
   src: url(neue.woff2);
   font-weight: normal;
}

@font-face {
   font-family: "lyon";
   src: url(lyon.woff);
   font-weight: normal;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}

h1 {
      font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
   font-family: "lyon";
      transition: all 0.5s;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 2vw


}

h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
    font-family: "neue";
      transition: all 0.5s;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 2vw
}



h1:hover {

  -moz-transform: translate(11px, 0px);
-webkit-transform: translate(11px, 0px);
-o-transform: translate(11px, 0px);
-ms-transform: translate(11px, 0px);
transform: translate(11px, 0px);

}

h2:hover {
font-style: italic;
}



q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
